# files
*.DS_Store
slurm*

# directories
.ipynb_checkpoints/
visuals/
fenics_tutorials/
fenics_scripts/
tests/
logs/
data/*
equations/__pycache__
autoencoder/supervise/__pycache__
autoencoder/__pycache__
