# files
*.DS_Store
slurm*
mnist*
decoder*
*key
*png

# directories
.ipynb_checkpoints/
notebooks/
visuals/
fenics_tutorials/
fenics_scripts/
tests/
logs/
data/*
equations/__pycache__
autoencoder/supervise/__pycache__
autoencoder/__pycache__
keynotes/
