# files
*.DS_Store
slurm*
mnist*
decoder*
*key
*ipynb

# directories
.ipynb_checkpoints/
notebooks/
visuals/
tests/
logs/
lightning_logs/
data/*
keynotes/
fenics_tutorials/
fenics_scripts/
**/__pycache__/
Poisson/adjoint/
Poisson/trashbin/
